<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noticias de Deporte</title>
    <link rel="stylesheet" href="../css/style-clubes-eureopeos.css">
</head>
<body>
    <header>
        <div class="logo">
            <h1>Noticias de Fútbol</h1>
        </div>
    </header>
    
    <nav class="navbar">
        <a href="../../index.html">INICIO</a>
        <a href="../views/clubes-argentinos.html">CLUBES ARGENTINOS</a>
        <a href="">CLUBES EUROPEOS</a>
        <a href="/Public/views/form.html">REGISTRO</a>
      </nav>

    <section class="sports-section">
        <div class="content">
            <h2>Liverpool: El lider de la nueva Champions</h2>
            <p>El equipo inglés comandado por Arne Slot es el actual puntero de la liga de futbol inglesa con 35pts y una fecha jugada menos que el segundo puesto (Chelsea: 31pts).</p>
        </div>
        <img src="/Public/img/liverpool.jpeg" alt="Foto del Liverpool">
    </section>

    <section class="sports-section">
        <div class="content">
            <h2>Gyokeres: La maquina goleadora</h2>
            <p>El FC Barcelona se encuentra en búsqueda de refuerzos clave para apuntalar su plantilla, y todas las señales apuntan a Viktor Gyökeres, la estrella sueca del Sporting de Lisboa, como un objetivo prioritario. Con apenas 26 años, Gyökeres se ha convertido en uno de los atacantes más destacados de Europa, deslumbrando con su capacidad goleadora y liderazgo en el conjunto portugués.</p>
        </div>
         <img src="/Public/img/sporting.jpg" alt="Foto del Sporting">
    </div>
    </section>

    <section class="sports-section">
        <div class="content">
            <h2>Mundial de clubes: Nuevo formato</h2>
            <p>A poco de lo que fue el sorteo de la fase de grupos del Mundial de Clubes 2025, desde FIFA confirmaron lo que será el fixture completo del certamen, por lo que Boca y River ya conocen lo que será el recorrido de, al menos, sus primeros tres partidos. Allí, el Xeneize presenta una leve ventaja, mientras el Millonario no parará de moverse.</p>
        </div>
        <img src="/Public/img/mundial-de-clubes.jpeg" alt="Foto del trofeo del Mundial de clubes">
    </section>

    <section class="sports-section">
        <div class="content">
            <h2>Napoli pierde la punta</h2>
            <p>En uno de los partidos más atractivos de la jornada 15 de la Serie A, Napoli cayó ante Lazio por 1-0 en el Diego Armando Maradona y perdió el liderato...</p>
        </div>
        <img src="/Public/img/napoli.jpg" alt="Foto del Napoli">
    </section>

    <footer>
        <p>&copy; Ramiro Verge, Potrero Digital 2024</p>
    </footer>
</body>
</html>
